@import url(./tailwind.css);

body {
    color: #333;
    --drag-x: 0px;
    --drag-y: 0px;
}

* {
    user-select: none;
}


*::-webkit-scrollbar {
    width: .8rem;
    height: .8rem;
}

*::-webkit-scrollbar-track {
    background: #e2e3e4;
}

*::-webkit-scrollbar-thumb {
    background-color: #b3bec3;
    border-radius: 6px;
    border: 3px solid #e2e3e4;
}

* {
    scrollbar-width: thin;
    scrollbar-height: thin;
    scrollbar-color: #b3bec3 #e2e3e4;
}

.drag-indicator {
    left: var(--drag-x);
    top: var(--drag-y);
}

.btn {
    @apply font-bold py-2 px-4 rounded bg-red-500 hover:bg-red-400 active:bg-red-300 text-white;
}

.konvajs-content {
    position: absolute !important;
}